html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    display:flex;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    display:flex;
    justify-content:center;
    COlor:Blue;
}
body{
    background-color:#c9d7ed;
}
#aboutbody{
    background-color:#7ba2e0;
}
#gallery-body{
    background-color:#1666e5;
}
.navbar{
    display:flex;
    justify-content:space-around;
}
.footer{
    display:flex;
    justify-content:space-around;
}
.header{
    color:white;
}
.text{
    color:white;
}
/*#index-img{*/
/*    position:absolute;*/
/*    right:0%;*/
/*    width:100px;*/
/*    height:100px;*/
/*}*/
.aboutMain {
    display:flex;
}
.leftPane {
    width:50%;
}
.rightPane {
    width:50%;

}
.gallery-1{
    display:flex;
}
.thumbnail-1{
    width:50%;
}
.thumbnail-2{
    width:50%;
}
.gallery-2{
    display:flex;
}
.thumbnail-3{
    width:50%;
}
.thumbnail-4{
    width:50%;
}
.thumbnail-4 img{
    height:250px;
    width:250px;
}
.thumbnail-image{
    margin-top:20px;
    border:solid black;
}
.main{
    /*background-image: url("http://images4.fanpop.com/image/photos/19800000/Fan-Art-vin-diesel-19863005-1591-1200.jpg");*/
    background-repeat:no-repeat;
    background-size: cover;
    margin-top:20px;
    background-color:red;
}
.about-img{
    width:90%;
    height:90%;
    margin-top:20px;
}